# Backup files
*.bak

# Compiled Object files
*.__i
*.crf
*.d
*.slo
*.lo
*.o
*.lst
*.plg
*.tra
*.axf
*.hex
*.htm
*.lnp
*.map
*.dep
*.uvopt
*.Administrator

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
